# Note:
# To effectively apply the changes you will have
# to re-index the git index (if there are already
# commited files)
#
# $ git rm -r -f --cached .
# $ git add .
# $ git commit -m ".gitignore index rebuild"
#

######################################
# CUSTOM
######################################

# Ignore variable data
#/.env
/dvl/backups/*

# Ignore Certificate Authority
/dvl/ca/*

# Ignore compose override file
#/docker-compose.override.yml

# Ignore logs
/dvl/log/apache-2.2/*
/dvl/log/apache-2.4/*
/dvl/log/mariadb-10.3/*
/dvl/log/nginx-mainline/*
/dvl/log/nginx-stable/*
/dvl/log/php-fpm-5.2/*
/dvl/log/php-fpm-5.3/*
/dvl/log/php-fpm-5.4/*
/dvl/log/php-fpm-5.5/*
/dvl/log/php-fpm-5.6/*
/dvl/log/php-fpm-7.0/*
/dvl/log/php-fpm-7.1/*
/dvl/log/php-fpm-7.2/*
/dvl/log/php-fpm-7.3/*
/dvl/log/php-fpm-7.4/*
/dvl/log/php-fpm-8.0/*
/dvl/log/php-fpm-8.1/*
/dvl/log/php-fpm-8.2/*
!/dvl/log/.keepme
!/dvl/log/*/.keepme


# Ignore custom global vhost gen templates
/dvl/cfg/vhost-gen/apache22.yml
/dvl/cfg/vhost-gen/apache24.yml
/dvl/cfg/vhost-gen/nginx.yml

# Ignore custom HTTPD configs
/dvl/cfg/apache-2.2/*.conf
/dvl/cfg/apache-2.4/*.conf
/dvl/cfg/nginx-stable/*.conf
/dvl/cfg/nginx-mainline/*.conf

# Ignore custom MySQL configs
/dvl/cfg/mysql-5.5/*.cnf
/dvl/cfg/mysql-5.6/*.cnf
/dvl/cfg/mysql-5.7/*.cnf
/dvl/cfg/mysql-8.0/*.cnf
/dvl/cfg/mariadb-5.5/*.cnf
/dvl/cfg/mariadb-10.0/*.cnf
/dvl/cfg/mariadb-10.1/*.cnf
/dvl/cfg/mariadb-10.2/*.cnf
/dvl/cfg/mariadb-10.3/*.cnf
/dvl/cfg/mariadb-10.4/*.cnf
/dvl/cfg/mariadb-10.5/*.cnf
/dvl/cfg/mariadb-10.6/*.cnf
/dvl/cfg/mariadb-10.7/*.cnf
/dvl/cfg/percona-5.5/*.cnf
/dvl/cfg/percona-5.6/*.cnf
/dvl/cfg/percona-5.7/*.cnf
/dvl/cfg/percona-8.0/*.cnf

# Ignore custom PHP-FPM configs
/dvl/cfg/php-fpm-5.2/php-fpm.xml
/dvl/cfg/php-fpm-5.3/*.conf
/dvl/cfg/php-fpm-5.4/*.conf
/dvl/cfg/php-fpm-5.5/*.conf
/dvl/cfg/php-fpm-5.6/*.conf
/dvl/cfg/php-fpm-7.0/*.conf
/dvl/cfg/php-fpm-7.1/*.conf
/dvl/cfg/php-fpm-7.2/*.conf
/dvl/cfg/php-fpm-7.3/*.conf
/dvl/cfg/php-fpm-7.4/*.conf
/dvl/cfg/php-fpm-8.0/*.conf
/dvl/cfg/php-fpm-8.1/*.conf
/dvl/cfg/php-fpm-8.2/*.conf

# Ignore custom PHP-FPM startup scripts
/dvl/autostart/*.sh
!/dvl/autostart/copy-or-replace-services.sh
!/dvl/autostart/run-start-scripts.sh
!/dvl/autostart/own-files-and-directories.sh
/dvl/cfg/php-startup-5.2/*.sh
/dvl/cfg/php-startup-5.3/*.sh
/dvl/cfg/php-startup-5.4/*.sh
/dvl/cfg/php-startup-5.5/*.sh
/dvl/cfg/php-startup-5.6/*.sh
/dvl/cfg/php-startup-7.0/*.sh
/dvl/cfg/php-startup-7.1/*.sh
/dvl/cfg/php-startup-7.2/*.sh
/dvl/cfg/php-startup-7.3/*.sh
/dvl/cfg/php-startup-7.4/*.sh
/dvl/cfg/php-startup-8.0/*.sh
/dvl/cfg/php-startup-8.1/*.sh
/dvl/cfg/php-startup-8.2/*.sh

# Ignorecustom Varnish configs
/dvl/cfg/varnish-4/*.vcl
/dvl/cfg/varnish-5/*.vcl
/dvl/cfg/varnish-6/*.vcl

# Ignore custom PHP-FPM modules
/dvl/mod/php-fpm-5.2/*.so
/dvl/mod/php-fpm-5.3/*.so
/dvl/mod/php-fpm-5.4/*.so
/dvl/mod/php-fpm-5.5/*.so
/dvl/mod/php-fpm-5.6/*.so
/dvl/mod/php-fpm-7.0/*.so
/dvl/mod/php-fpm-7.1/*.so
/dvl/mod/php-fpm-7.2/*.so
/dvl/mod/php-fpm-7.3/*.so
/dvl/mod/php-fpm-7.4/*.so
/dvl/mod/php-fpm-8.0/*.so
/dvl/mod/php-fpm-8.1/*.so
/dvl/mod/php-fpm-8.2/*.so

# Ignore supervisord configs
/dvl/supervisor/*.conf

# Ignore custom bash and other confi files
/dvl/bash/*
!/dvl/bash/workflows
!/dvl/bash/extras
!/dvl/bash/files
!/dvl/bash/aliases.sh
!/dvl/bash/ask.sh
!/dvl/bash/workflows.sh
!/dvl/bash/bashrc.sh-example
!/dvl/bash/README.md

# Ignore documentation sphinx build
/dvl/docs/_build/
/dvl/docs/make.bat
/dvl/docs/linkcheck
/dvl/docs/venv
/dvl/*.rst.todo

# Ignore vhost-gen files in test dir (copied on the fly)
/dvl/.tests/tmp/*
/dvl/.tests/www/*
!/dvl/.tests/www/modules
!/dvl/.tests/www/rproxy/js/index.js

# Keep folders
!.keepme

######################################
# GENERIC
######################################

###### std ######
.lock

###### patches/diffs ######
*.patch
*.diff
*.orig
*.rej


######################################
# Operating Systems
######################################

###### OSX ######
._*
.DS*
.Spotlight-V100
.Trashes

###### Windows ######
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.shortcut

######################################
# Editors
######################################

###### Sublime ######
*.sublime-workspace
*.sublime-project

###### Eclipse ######
.classpath
.buildpath
.project
.settings/

###### Netbeans ######
/nbproject/

###### Intellij IDE ######
.idea/
.idea_modules/

###### vim ######
*.swp
*.swo
*.swn
*.swm
*~

###### TextMate ######
.tm_properties
*.tmproj

###### BBEdit ######
*.bbprojectd
*.bbproject

###### VS Code ######
/.vscode

# data/www related
/dvl/data/www/*
!/dvl/data/www/.keepme

# workspaces related
/workspaces/*
!/workspaces/.keepme

# minio related
/storage/*
!/storage/.keepme

# database related
/database/*
!/database/.keepme

# mail related
/mail/*
!/mail/.keepme

# logs related
/log/*
!/log/.keepme

# backups related
/backup/*
!/backup/.keepme
